### Задача 1

Напишите программу, которая просит пользователя ввести произвольную цифру от 1 до 9, а затем выводит таблицу умножения для введенного числа.

Добавьте проверку введенной пользователем информации:
* данные должны быть целочисленного типа
* число должно находиться в диапазоне от 1 до 9

In [ ]:
# Ваше решение
# Программа для вывода таблицы умножения для введенного числа от 1 до 9

def cal_num():
    while True:
        try:
            # Запрос на ввод числа от пользователя
            user_input = input("Введите цифру от 1 до 9: ")

            # Преобразование введенной строки в целое число
            number = int(user_input)

            # Проверка, что число находится в диапазоне от 1 до 9
            if 1 <= number <= 9:
                break  # Выход из цикла, если все условия выполнены
            else:
                print("Число должно быть в диапазоне от 1 до 9.")
        except ValueError:  # Обработка исключения, если введено не целое число
            print("Пожалуйста, введите целое число.")

    print(f"Таблица умножения для числа {number}:")
    for i in range(1, 11):
        print(f"{number} x {i} = {number * i}")

cal_num()

Введите цифру от 1 до 9: 5
Таблица умножения для числа 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### Задача 2

Напишите программу, которая ищет все числа в интервале от 300 до 430 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

In [ ]:
# Ваше решение

# Поиск чисел в интервале от 300 до 430, которые делятся на 11, но не делятся на 5
number = [num for num in range(300, 431) if num % 11 == 0 and num % 5 != 0]
number

[308, 319, 341, 352, 363, 374, 396, 407, 418, 429]

### Задача 3

Напишите функцию, которая принимает один параметр (год) и определяет, является ли этот год високосным.

Напомним, что ***високосными*** годами считаются те, порядковый номер которых либо кратен **4**, но при этом не кратен **100**, либо кратен **400** (например, 2000-й год являлся високосным, а 2100-й будет не високосным годом).

Программа должна корректно работать на числах **1900 ≤ n ≤ 3000**.

Функция должна вывести на экран "Високосный" в случае, если год является високосным и "Обычный" в противном случае.

In [ ]:
# Ваше решение

# Функция для определения високосного года

def vis_year(year):
    if 1900 <= year <= 3000:
        # Проверка кратности 4, но не 100, или кратности 400
        if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
            return f"{year} - Високосный год"
        else:
            return f"{year} - Обычный год"
    else:
        return f"{year} - Год должен находиться в диапазоне 1900 ≤ n ≤ 3000"

print(vis_year(2000))
print(vis_year(2100))
print(vis_year(2024))
print(vis_year(2025))
print(vis_year(1899))
print(vis_year(3034))
print(vis_year(2300))
print(vis_year(2456))
print(vis_year(1900))

2000 - Високосный год
2100 - Обычный год
2024 - Високосный год
2025 - Обычный год
1899 - Год должен находиться в диапазоне 1900 ≤ n ≤ 3000
3034 - Год должен находиться в диапазоне 1900 ≤ n ≤ 3000
2300 - Обычный год
2456 - Високосный год
1900 - Обычный год

### Задача 4

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 10 включительно и значениями, соответствующими квадратам ключей.

In [ ]:
# Ваше решение

# Создаем словарь с ключами от 1 до 10 и значениями, равными квадратам ключей

dict_1 = {x: x ** 2 for x in range(1, 11)}

dict_1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Задача 5

Напишите функцию простейшего калькулятора. Пользователь вводит число **a**, число **b** и вид арифметической операции над ними. Функция возвращает результат вычисления.

In [ ]:
# Ваше решение

# Простой калькулятор

def cal(a, b, oper):
    if oper == '+':
        return a + b
    elif oper == '-':
        return a - b
    elif oper == '*':
        return a * b
    elif oper == '/':
        if b == 0:
            return "Деление на ноль невозможно"
        else:
            return a / b
    else:
        return "Неизвестная операция"

print(cal(5, 2, '+'))
print(cal(6, 3, '-'))
print(cal(5, 7, '*'))
print(cal(3, 5, '/'))
print(cal(7, 0, '/'))
print(cal(3, 5, '^'))

7
3
35
0.6
Деление на ноль невозможно
Неизвестная операция